<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/icon.png">
</head>
<body>

<form method="POST">
    <label>
        <p>Type the secret content (max.: 1000 chars):</p>
        <textarea rows="10" cols="50" maxlength="1000"></textarea>
    </label>
    <label>
        <p>Or send a file (max.: 100KB):</p>
        <input type="file"/>
    </label>

    <p>
        <button>Create</button>
    </p>
</form>

<script>
    async function sendData(url, data) {
        const formData  = new FormData();

        for(const name in data) {
            formData.append(name, data[name]);
        }

        const response = await fetch(url, {
            method: 'POST',
            body: formData
        });

        console.log(response);

        // ...
    }

    document.querySelector("button").addEventListener("click", function (e) {
        e.preventDefault()
        let text = document.querySelector("textarea").value
        console.log("Text:");
        console.log(text);

        let file = document.querySelector("input");

        console.log("File");
        console.log(file.files);

        if (file.files[0]) {
            if (file.files[0].size > 100000) {
                console.log("File greater than 100KB");
                return
            }
        }

        sendData("/", file.files[0]);
        console.log(file.files[0])
    });
</script>

</body>
</html>
