<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/icon.png">
</head>
<body>

<form method="POST">
    <label>
        <p>Type the secret content (max.: 1000 chars):</p>
        <textarea rows="10" cols="50" maxlength="1000"></textarea>
    </label>
    <label>
        <p>Or send a file (max.: 100KB):</p>
        <input id="fileinput" type="file"/>
    </label>

    <p>
        <button>Create</button>
    </p>
</form>

<script>
    // Select your input type file and store it in a variable
    const input = document.getElementById('fileinput');

    // This will upload the file after having read it
    const upload = (file) => {
    fetch('/', { // Your POST endpoint
        method: 'POST',
        headers: {
        // Content-Type may need to be completely **omitted**
        // or you may need something
        // "Content-Type": "You will perhaps need to define a content-type here"
        },
        body: file // This is your file object
    }).then(
        response => response.json() // if the response is a JSON object
    ).then(
        success => console.log(success) // Handle the success response object
    ).catch(
        error => console.log(error) // Handle the error response object
    );
    };

    // Event handler executed when a file is selected
    const onSelectFile = () => upload(input.files[0]);

    // Add a listener on your input
    // It will be triggered when a file will be selected
    input.addEventListener('change', onSelectFile, false);
</script>

</body>
</html>
